{% extends 'base.html' %}

{% block content %}
<div class="text-center">
<h2>Оформление каюты</h2>
<table class="table ">
    <thead>
        <tr>
            <th scope="col" style="width: 50%">Цвет стен</th>
            <th scope="col" style="width: 50%">Эмбелма</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr>
            <td style="background-color: hsl({{ color }})"></td>
            </td>
            <td>
                {% if age > 21 %}
                <img src="https://www.usatoday.com/gcdn/-mm-/4856d0ebb326b319363cac9018f63548826dde9c/c=2343-0-4957-2614/local/-/media/2016/02/04/USATODAY/USATODAY/635901778153578373-XXX-ATTACKCLONES-EP2-IA-69836-R-78033996.JPG" width="50%">
                {% else %}
                <img src="https://i.etsystatic.com/40317824/r/il/1fc564/4850621406/il_1080xN.4850621406_lxg6.jpg" width="50%">
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
</div>
{% endblock %}